azure-common==1.1.23
azure-nspkg==3.0.2
azure-storage-common==1.1.0
azure-storage-file==1.1.0
azure-storage-nspkg==3.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
configparser==3.5.0
crayons==0.3.0
cryptography==2.8
EasyProcess==0.2.3
et-xmlfile==1.0.1
idna==2.6
jdcal==1.4.1
mysql-connector-python==8.0.11
openpyxl==2.5.3
pdfkit==0.6.1
pdfminer==20191125
pdfminer3==2018.12.3.0
Pillow==5.1.0
protobuf==3.11.1
pycparser==2.19
pycryptodome==3.9.4
PyMsgBox==1.0.6
PyPDF2==1.26.0
PyPDF4==1.27.0
PyScreeze==0.1.14
python-dateutil==2.8.1
python3-xlib==0.15
PyTweening==1.0.3
PyVirtualDisplay==0.2.1
requests==2.18.4
selenium==3.11.0
six==1.13.0
sortedcontainers==2.1.0
urllib3==1.22
webdriver-manager==2.3.0
wget==3.2
